{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-body">

                <!-- Logo and title -->
               
                 <div class="container py-4" style="background-color: #198754; border-radius: 4px;">
                    <div class="text-center text-white mb-4">
                       <img src="{{ url_for('static', filename='logo.png') }}" alt="Department of Defence Logo" width="150">
                       <h4 class="mt-2">Department of Defence</h4>
                       <h6 class="mt-2">Pay Slip Portal</h6>
                     </div>
                 </div>
                 <br>
                
                 <h5 class="mt-2 text-center">Reset Password</h5>
                 <br>
                <form method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Enter your email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Send Reset Link</button>
                </form>
                <p class="mt-3 text-center"><a href="{{ url_for('login') }}">Back to Login</a></p>
                <p class="mt-4 text-center text-muted">&copy; 2026 Department of Defence</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
